.super-mario {
  width: 200px;
  position: absolute;
  z-index: 1;
}

.goomba {
  width: 100px;
}

.baloon {
  position: absolute;
  z-index: 3;
  left: 320px;
  right: 5px;

}

.speach {
  font-size: 25px;
  position: absolute;
  z-index: 4;
  left: 340px;
  top: 120px;

}

.bowser {
  width: 200px;
  position: absolute;
  z-index: 2;
  left: 555px;
  top: 250px;
}